<mat-card class="login-page border">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>

        
            <h5>Welcome to the MEAN Stack Tool</h5> 
            <p>This Application is for authorized user only.
            Activity in the system is tracked.
        </p>

        <mat-divider></mat-divider>

        <form (ngSubmit)="loginRF()" class="login-form" autocomplete="off" novalidate [formGroup]="loginReactiveForm">


            <div *ngIf="inProgress">
                <app-progress-bar [message]="'authenticating...'" class="progress-comp" bgColor="#49f232" color="blue"
                    width="1px"></app-progress-bar>
                <mat-divider></mat-divider>
            </div>


            <div [formGroupName]="'credentials'" class="login-form">
                <mat-form-field class="mt-4">
                    <input matInput type="text" placeholder="Enter Username" [formControlName]="'username'">
                </mat-form-field>
                <span class="help-block" style="color: coral; marker-end: 1rem;" *ngIf="loginReactiveForm.get('credentials.username').errors">
                    This name is invalid</span>

                <mat-form-field>
                    <input matInput type="password" placeholder="Enter password" [formControlName]="'password'">
                    <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                </mat-form-field>
                <span class="help-block" style="color: coral; marker-end: 1rem;" *ngIf="loginReactiveForm.get('credentials.password').errors">
                        invalid password</span>
            </div>



            <mat-divider></mat-divider>
            <div class="d-flex flex-column">
                <button mat-raised-button color="primary" class="m-4" type="submit">Login</button>
                <button mat-raised-button color="warning" type="button" class="m-4" (click)="loginReactiveForm.reset()">Clear</button>
            </div>

            <mat-divider></mat-divider>

            Dev mode :

            <div class="d-flex flex-row">
                <button class="btn btn-sm btn-danger d-inline-block" type="button" (click)="setdefaultRF()">auto-fill</button>
                <button class="btn btn-sm btn-danger d-inline-block" type="button" (click)="addMoreFeilds()">add Feilds</button>
            </div>
           
        </form>

    </mat-card-content>
</mat-card>