<div  (click)="onSimpleClick()" class="border border-grey p-2">

<mat-card-header>
    <mat-card-title>
        <p class="display-8"> Order Id : {{fund._id}}</p>
        <div [@divTrigger]="clickInfo"></div>
    </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<!-- <img mat-card-image [src]="course.iconUrl"> -->

<div class="row">
    <div class="col mt-2">
        <mat-card-content>
            <p class="text-primary border border-grey p-1 m-1">Abbreviation: {{fund.abbr}}</p>
            <p class="text-primary border border-grey p-1 m-1">Created by: {{fund.created_by}}</p>
     </mat-card-content>
    </div>

    <div class="col">
            <mat-card-actions>
                    <div class="btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary view-button" [routerLink]="['/fund-module/get-all', fund._id]">View</button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/fund-module/edit', fund._id]">Edit</button>
                    </div>
            </mat-card-actions> 
    </div>
</div>






</div>

<!-- [queryParam] = "[{fof_num: fund.num}]" -->