<!-- FLEXBox -->
<div id="container">
  
  <div class="item item-1" ></div>
  <div class="item item-2"></div>
  <div class="item item-3"></div>

</div>

<!-- CSS Grid  -->

<div id="container-grid">
  
  <div class="grid-item ge1" >header</div>
  <div class="grid-item">side Nav</div>
  <div class="grid-item"> body</div>
  <div class="grid-item ge1"> footer</div>

</div>

<div id="container-grid2">
  
  <div class="grid-item2 ge2-0" >header</div>
  <div class="grid-item2">side Nav</div>
  <div class="grid-item2 ge2-2" style="overflow:auto"> 
    <div style="height:200px; width:200px; border: 1px solid blue; display:inline-block; margin:1rem; text-align: center;" class="float-left">content-1</div>
    <div style="height:200px; width:200px; border: 1px solid blue; display:inline-block; margin:1rem;">content-2</div>
    <div style="height:200px; width:200px; border: 1px solid blue; display:inline-block; margin:1rem" class="float-right">content-3</div>
  </div>
  <div class="grid-item2 ge2-1"> footer</div>
  <div class="grid-item2 ge2-3"> footer-overlapping</div>


  <div class="grid-item2 ge2-4"> grid area (shorthand) </div>

  <div class="grid-item2 ge2-5"> grid area name </div>

</div>

